## Basic for loop in Python -

 a for loop is uded to repeat a block of code a specific number of time,or for each item in sequence (like a list,string,etc.).

* Syntax 
* for variable in sequence:
    #code block(indented)

In [13]:
# example 1
fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end=" ")

apple banana cherry

In [14]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [15]:
numbers =[ 23,43,90,20]
for num in numbers:
    print(num)

23
43
90
20

In [16]:
numbers =[ 23,43,90,20]
for i in numbers:
    print(i,end=" ")

23 43 90 20

In [17]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end=" $$ ")

apple $$ banana $$ cherry $$

In [18]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end="\n")

apple
banana
cherry

In [19]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end=",")

apple,banana,cherry,

In [20]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end="\t")

apple	banana	cherry

In [21]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end= " sweet\n")

apple sweet
banana sweet
cherry sweet

In [22]:

fruits = ["apple", "banana","cherry"]
for fruit in fruits:
    print(fruit,end="=sweet\n")

apple=sweet
banana=sweet
cherry=sweet

In [23]:
fruits = ("apple, banana, cherry").split()
for fruit in fruits:
    print(fruit,end="\n")

apple,
banana,
cherry

using range() with for loop 
range (start).stop, step) is often used with for to repeat something multiple times

In [9]:
for i in range (13,25,2):
    print(i)

13
15
17
19
21
23

In [25]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [26]:
i =2
for i in range(7):
    print(i)

0
1
2
3
4
5
6

 ## Nested for loop-

A nested loop is when one for loop is inside another.

In [27]:
for i in outer_loop:
    for j in inner_loop:

_IncompleteInputError: incomplete input (517706269.py, line 3)

In [28]:
# RANGE IS ITERABLE

In [5]:
for i in range(3): 
    print("nexuz")      #outer loop runs 3 times
    for j in range(2):  # inner loop runs 2 times for each outer
        print(f"i={i},j ={j}")

nexuz
i=0,j =0
i=0,j =1
nexuz
i=1,j =0
i=1,j =1
nexuz
i=2,j =0
i=2,j =1

In [30]:
for i in range(3):   #outer loop runs 3 times
    for j in range(2):  # inner loop runs 2 times for each outer
        print(f"i={i},j={j}")

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1

In [6]:
for i in range(3):   #outer loop runs 3 times
    for j in range(2):  # inner loop runs 2 times for each outer
        print(f"i={i},j={j}")
    print("nexuz")

i=0,j=0
i=0,j=1
nexuz
i=1,j=0
i=1,j=1
nexuz
i=2,j=0
i=2,j=1
nexuz

In [31]:
for j in range(5):
    print("j",34)

j 34
j 34
j 34
j 34
j 34

In [7]:
for i in range(3):   #outer loop runs 3 times
    for j in range(2): 
        print("nexuz")  # inner loop runs 2 times for each outer
        print(f"i={i},j={j}")

nexuz
i=0,j=0
nexuz
i=0,j=1
nexuz
i=1,j=0
nexuz
i=1,j=1
nexuz
i=2,j=0
nexuz
i=2,j=1

### Building loop skills

In [32]:
# right angled triangle
rows = 5

for i in range(1, rows + 1):
    print("me" * i)

me
meme
mememe
memememe
mememememe

In [33]:
rows = 5

for i in range(2, rows + 3):
    print("me" * i)

meme
mememe
memememe
mememememe
memememememe
mememememememe

In [34]:
rows = 5

for i in range(2, rows + 3):
    print("me" * i)

meme
mememe
memememe
mememememe
memememememe
mememememememe

#the range is from 1 - 6 , therefore i has values 
* for i = 1 the output will be "me"*1
* for i = 2 the output will be "me"*2= "meme"
* for i = 2 the output will be "me"*3= "mememe"

In [35]:
rows = 12 

for i in range(1, rows +2,4):
    print("me" * i)

me
mememememe
mememememememememe
mememememememememememememe

In [36]:
rows = 27

for i in range(1, rows ,5):
    print(1* i)

1
6
11
16
21
26

In [37]:
for i in range(5):
    print(i)

0
1
2
3
4

In [38]:
for i in range(8):
    print("aqsa"*i)

aqsa
aqsaaqsa
aqsaaqsaaqsa
aqsaaqsaaqsaaqsa
aqsaaqsaaqsaaqsaaqsa
aqsaaqsaaqsaaqsaaqsaaqsa
aqsaaqsaaqsaaqsaaqsaaqsaaqsa

In [39]:
for aqsa in range(4):
    print(aqsa)

0
1
2
3

In [40]:
for i in range(8):
    print("me"*i)

me
meme
mememe
memememe
mememememe
memememememe
mememememememe

In [41]:
for i in range(2,15,3):
    print(i)

2
5
8
11
14

In [42]:
row =78
for i in range(12):
    print(i)
    print("aqsa"*i)

0

1
aqsa
2
aqsaaqsa
3
aqsaaqsaaqsa
4
aqsaaqsaaqsaaqsa
5
aqsaaqsaaqsaaqsaaqsa
6
aqsaaqsaaqsaaqsaaqsaaqsa
7
aqsaaqsaaqsaaqsaaqsaaqsaaqsa
8
aqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsa
9
aqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsa
10
aqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsa
11
aqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsaaqsa

In [43]:
for i in range(5):
    print("a"*i)

a
aa
aaa
aaaa

In [9]:
row=5
for i in range(1,row+1):
    for j in range(1 ,i + 1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
row=12
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [47]:
row=12
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
row=14
for i in range(2,8):
    for a in range(1,i+1):
        print(a,end="")
    print()

12
123
1234
12345
123456
1234567

In [47]:
row=14
for i in range(1,8):
    for j in range([90,90]):
        print(j,end="")
    print(j)

TypeError: 'list' object cannot be interpreted as an integer

In [6]:
row=14
for i in range(5,10):
    for j in range(4,i+1):
        print(j,end=" ")
    print()

4 5
4 5 6
4 5 6 7
4 5 6 7 8
4 5 6 7 8 9

In [7]:
row=12
for i in range(4,12+2):
    for j in range(2,i+1):
        print(j,end=" ")
    print()

2 3 4
2 3 4 5
2 3 4 5 6
2 3 4 5 6 7
2 3 4 5 6 7 8
2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 11
2 3 4 5 6 7 8 9 10 11 12
2 3 4 5 6 7 8 9 10 11 12 13

In [8]:
row=12
for i in range(10,14):
    for j in range(3,i+4):
        print(j,end=" ")
    print()

3 4 5 6 7 8 9 10 11 12 13
3 4 5 6 7 8 9 10 11 12 13 14
3 4 5 6 7 8 9 10 11 12 13 14 15
3 4 5 6 7 8 9 10 11 12 13 14 15 16

In [18]:

for i in range(4,14):
    for j in range(2,i+5):
        print(j,end=" ")
    print()

2 3 4 5 6 7 8
2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 11
2 3 4 5 6 7 8 9 10 11 12
2 3 4 5 6 7 8 9 10 11 12 13
2 3 4 5 6 7 8 9 10 11 12 13 14
2 3 4 5 6 7 8 9 10 11 12 13 14 15
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17

## while loop

what is while loop

a while loop repeats a block of code as long as a condition is true

In [49]:
i=1
while i <=5:
    print(i)
    
    i=i+1
print("get up it is time to study")

1
2
3
4
5
get up it is time to study

In [50]:
i=1
while i<=6:
    print(i)
    
    i=i+1
print("get up it is time to study")

1
2
3
4
5
6
get up it is time to study

In [51]:
i=1
while i<=6:
    print(i)
    
    i=i+1
print("get up it is time to study")

1
2
3
4
5
6
get up it is time to study

In [52]:
i=1
while i>=5:
    print(i)
    
    i=i+1
print("get up it is time to study")

get up it is time to study

In [53]:
i=6
while 6<=5:
    print("aqsa")

In [54]:
i=10
while i<=20:
    print(i)

    i=i+1
print("stop")

10
11
12
13
14
15
16
17
18
19
20
stop

In [55]:
i=10
while i<=20:
    print(i)

    i=i+1
print("stop")

10
11
12
13
14
15
16
17
18
19
20
stop

In [56]:
i=1
while i<=20:
    print(i)

    i=i+4
print("stop")

1
5
9
13
17
stop

In [57]:
a=2
while a<=20:
    print(a)

    a=a+4
print("stop the run")

2
6
10
14
18
stop the run

In [58]:
i=14
while i<=25:
    print(i)
    i=i+1
print("stop")

14
15
16
17
18
19
20
21
22
23
24
25
stop

In [9]:
i=1
while i<34:
    print(i,"aqsa")
    i=i+1
print("hello",i)

1 aqsa
2 aqsa
3 aqsa
4 aqsa
5 aqsa
6 aqsa
7 aqsa
8 aqsa
9 aqsa
10 aqsa
11 aqsa
12 aqsa
13 aqsa
14 aqsa
15 aqsa
16 aqsa
17 aqsa
18 aqsa
19 aqsa
20 aqsa
21 aqsa
22 aqsa
23 aqsa
24 aqsa
25 aqsa
26 aqsa
27 aqsa
28 aqsa
29 aqsa
30 aqsa
31 aqsa
32 aqsa
33 aqsa
hello 34

In [1]:
i=5
while i<=10:
   print("hello")
   i=i+1
print("stop")

hello
hello
hello
hello
hello
hello
stop

In [61]:
num=23
while num<=34:
    print("aqsa",num)
    num=num+1
print("stop")

aqsa 23
aqsa 24
aqsa 25
aqsa 26
aqsa 27
aqsa 28
aqsa 29
aqsa 30
aqsa 31
aqsa 32
aqsa 33
aqsa 34
stop

In [10]:
list=[89,78,89,45,34,22]
x=78
i=0
while i<len(list):
    if(list[i]==x):
        print("found at idx",i)
    i=i+1

found at idx 1

In [11]:
i=5
while i<7:
    print("hello")
    i=i+1
print(i)

hello
hello
7

In [12]:
num=10
while num>=1:
    print(num)
    num=num-1
print("enough",num)

10
9
8
7
6
5
4
3
2
1
enough 0

In [25]:
a=10
while a>=1:
    print("aqsa",a)
    a=a-1
print("enough and stop the situation ",a)

aqsa 10
aqsa 9
aqsa 8
aqsa 7
aqsa 6
aqsa 5
aqsa 4
aqsa 3
aqsa 2
aqsa 1
enough and stop the situation  0

In [14]:
i=1
while i<=10:
   print(3*i)
   i=i+1
print("table of three")

3
6
9
12
15
18
21
24
27
30
table of three

In [15]:
num=1
while num<=10:
    print(num)
    num=num+1
print("stop",num)

1
2
3
4
5
6
7
8
9
10
stop 11

In [16]:
i=1
while i<=10:
   print(4*i,i)
   i=i+1
print("table of three",i)

4 1
8 2
12 3
16 4
20 5
24 6
28 7
32 8
36 9
40 10
table of three 11

In [17]:
list=[89,78,89,45,34,22]
x=78
i=0
while i<len(list):
    if(list[i]==x):
        print("found at idx",i)
    i=i+1
print("find")

found at idx 1
find

In [13]:
for i in range(1,6):
   for j in range(1,i+1):
    print(i,end=" ")
   print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [23]:
for i in range(2,20):
    for j in range(2,i+1):
     print(j,end="")
    print()

2
23
234
2345
23456
234567
2345678
23456789
2345678910
234567891011
23456789101112
2345678910111213
234567891011121314
23456789101112131415
2345678910111213141516
234567891011121314151617
23456789101112131415161718
2345678910111213141516171819

In [1]:
i=1
while i<=10:
    print(i*2)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [4]:
shopping_cart = {}
add_to_cart('shopping_cart',"apple", 1.20)
add_to_cart('shopping_cart', "banana", 20)
add_to_cart('shopping_cart',"pizza",78)
add_to_cart('shopping_cart',"chocolate",100)
show_cart('shopping_cart')

NameError: name 'add_to_cart' is not defined

In [2]:
def add_to_cart(cart, item, price):
    cart[item] = price

def show_cart(cart):
    if not cart:
        print("Your cart is empty.")
    else:
        for item, price in cart.items():
            print(f"{item}: ${price:.2f}")
        print(f"Total: ${sum(cart.values()):.2f}")

def remove_from_cart(cart, item):
    if item in cart:
        del cart[item]
    else:
        print(f"{item} not found in the cart.")

# Main program
shopping_cart = {}
add_to_cart(shopping_cart, "Apple", 1.20)
add_to_cart(shopping_cart, "Banana", 0.50)
add_to_cart(shopping_cart, "Milk", 2.00)
show_cart(shopping_cart)

remove_from_cart(shopping_cart, "Banana")
show_cart(shopping_cart)

Apple: $1.20
Banana: $0.50
Milk: $2.00
Total: $3.70
Apple: $1.20
Milk: $2.00
Total: $3.20

In [6]:
def add_to_cart(cart,item,price):
    cart[item]=price
def show_cart(cart):
    if not  cart :
        print("this is the empty card")
def remove_from_cart(cart ,item):
    if item in cart :
        del cart[item]
    else:
        print("not found")
shopping_cart = {}
add_to_cart(shopping_cart, "Apple", 1.20)
add_to_cart(shopping_cart, "Banana", 0.50)
add_to_cart(shopping_cart, "Milk", 2.00)
show_cart(shopping_cart)

remove_from_cart(shopping_cart, "Banana")
show_cart(shopping_cart)

In [7]:
def add_the_cart(cart,item,price):
   cart[item]=price
def show_cart(cart):
    if not cart:
        print("not found")
def remove_from_cart(item ,price):
     if item in cart:
         del cart[item]
     else:
        print("not in found")
shopping_cart={}
add_the_cart(shopping_cart,"pizza",56)
add_the_cart(shopping_cart,"kurti",100)
add_the_cart(shopping_cart,"burger",50)
show_cart(shopping_cart)

## python function

In [ ]:
def multiply (n1,n2)