## input function

In [11]:
amount=input("enter amount in words:")

enter amount in words: ten thousand

In [1]:
amount=input("enter amount in digit:")

enter amount in digit: "10,000"

In [14]:
print(type(amount))      ## the type of data from input function is always a string

<class 'str'>

In [6]:
amount1=input("enter amountin digits:")

enter amountin digits: 89

In [5]:
amount2=input("enter amount in digits:")

enter amount in digits: 56

In [7]:
print(amount1+amount2)

8956

In [5]:
amount1=int(input("enter amountin digits:"))

enter amountin digits: 90

In [10]:
amount2=int(input("enter amount in digits:"))

enter amount in digits: 78

In [11]:
print(amount1+amount2)

168

In [13]:
a=input("enter the number")
b=input("enter number of marks")

enter the number 45
enter number of marks 78

In [14]:
sona=print(a+b)

4578

In [15]:
a= int(input("enter the number"))
b=int(input("enter number of marks"))

enter the number 65
enter number of marks 77

In [16]:
sign=print(a+b)

142

## basic calculator

In [15]:
num2=float(input("enter second number:"))

enter second number: 89

In [16]:
result=num1+num2
print(result)

179.0

In [17]:
num1=float(input("enter first number:"))

enter first number: 89

In [18]:
num2=float(input("enter second number:"))

enter second number: 67

In [19]:
roman=num1-num2
print(roman)

22.0

In [20]:
num1=float(input("enter first number:"))

enter first number: 78

In [21]:
num2=float(input("enter second number:"))

enter second number: 45

In [22]:
roman=num1*num2
print(roman)

3510.0

In [17]:
aqsa=float(input("enter the no"))
sona=float(input("enter the no"))

enter the no 67
enter the no 90

In [20]:
print(aqsa*sona)
print(aqsa+sona)
print(aqsa-sona)

6030.0
157.0
-23.0

##  conditional statement (if ,else,elif)

In [28]:
num1=float(input("enter the first number:"))

enter the first number 80

In [26]:
num2=float(input("enter the second number:"))

enter the second number 45

In [38]:
operator=(num1+num2)
print(operator)

125.0

In [12]:
num1=float(input("enter the first number:"))
num2=float(input("enter the second number:"))
operator=input("enter operator(user choice =+,-,/,*)")
if operator== "+":
    result=num1+num2
elif operator== "-":
    result=num1-num2
elif operator== "*":
    result=num1*num2
print(result)

enter the first number: 56
enter the second number: 34
enter operator(user choice =+,-,/,*) *

1904.0

In [13]:
print(result)

1904.0

In [18]:
a=int(input("number of age"))
if (a>18):
    print("good")
elif(a<34):
    print("great")
else:
    print("sona")

number of age 13

great

In [37]:
game=float(input("enter the rate of game"))
if  game>50 :
    print("excellent")
elif game< 50 :
    print ("good")
elif game==0:
    print("good")
else:
    print("aqsa")

enter the rate of game 56

excellent

In [48]:
num1=float(input("enter the first number:"))
num2=float(input("enter the second number:"))
operator=input("enter operator(user choice +,-,*,)")
if operator== "+":
    print(num1+num2)
elif operator== "-":
    print(num1+num2)
elif operator== "*":
    print(num1*num2)
else:
    print("sonal")

enter the first number: 67
enter the second number: 90
enter operator(user choice +,-,*,) *

6030.0

In [2]:
game=float(input("enter the rate of game"))
if game>50 :
    print("excellent")
if game< 50 :
    print ("good")
if game==0:
    print("good")
else:
    print("aqsa")

enter the rate of game 56

excellent
aqsa

In [56]:
num=int(input("enter the number"))
if num>0:
    print("positive")
if num<0:
    print("negative")
else:
    print("aqsa")

enter the number 67

positive
aqsa

In [59]:
num=int(input("enter the number"))
if num/2==0:
   print("even")
else:
    print("odd")

enter the number 0

even

In [1]:
a=int(input("enter the no"))
b=int(input("enter the no"))
c=int(input("enter the no"))
if a>b and a>=b:
   print(a)
if a<b and a<=b:
    print(b)
if a>c :
    print(a)
if a<c:
    print(c)
if a>c  and a>=c:
    print(c)
else:
    print("number")

enter the no 2
enter the no 4
enter the no 6

4
6
number

In [4]:
num1=int(input("enter the number"))
if num1==2:
    print("even")
if num1==3:
   print("odd")
else:
    print("num")

enter the number 3

odd

In [5]:
day=int(input("day of week"))
if day==1:
    print("sunday")
if day==2:
    print("monday")
if day==3:
    print("tuesday")
if day==4:
    print("wednesday")
elif day==5:
    print("thursday")
elif day==6:
    print("friday")
elif day==7:
    print("saturday")
else:
    print("week of name")

day of week 4

wednesday

In [4]:
age=int(input("ticket price"))
if age>18:
    print(150)
if age<18:
    print(100)
if age==18:
    print(50)
else:
    print("price")

ticket price 13

100
price

In [8]:
no=int(input("no of student"))
if no>100:
    print("excellent")
if no<100:
    print("good")
elif no==50:
    print("average")
else:
    print("student marks:")

no of student 34

good

In [2]:
num=int(input())

 34

In [4]:
num=input("enter a number")

enter a number 45

In [7]:
yourname=input("fill up your name")

fill up your name "aqsa"

In [11]:
x=2
y=5
result=x*y
print(result)

10

In [13]:
num1=float(input("enter the number"))

enter the number 45

In [14]:
print(type(num1))

<class 'float'>

In [15]:
num1=float(input("enter a  first number"))
num2=float(input("enter a second number"))

enter a  first number 2
enter a second number 4

In [16]:
num1+num2

6.0

In [21]:
num1=float(input("enter a  first number"))
num2=float(input("enter a second number"))
if num1*num2>num1:
    print("good amt")
elif num1*num2<15:
    print("nice")
else:
    print("out of coden:")

enter a  first number *

ValueError: could not convert string to float: '*'

In [23]:
num1=float(input("enter a  first number"))
num2=float(input("enter a second number"))
if num1*num2>num1:
    print("good amt")
elif num1*num2<15:
    print("nice")
else:
    print("out of coden:")

enter a  first number 1
enter a second number 1

nice

In [31]:
num1=float(input("enter a  first number"))
num2=float(input("enter a second number"))
if num1*num2>num1:
    print("good amt")
elif num1*num2<15:
    print("nice")
else:
    print("out of coden")

enter a  first number #

ValueError: could not convert string to float: '#'

In [36]:
num1=float(input("enter a  first number"))
num2=float(input("enter a second number"))
if num1*num2>num1:
    print("good amt")
elif num1*num2<15:
    print("nice")
else:
    print("out of coden:")

enter a  first number 15
enter a second number 1

out of coden:

In [5]:
num1=float(input("enter first number"))
num2=float(input("enter a second number"))
operator=input("user demand('+','-','*','/')")
if operator== "+":
    print(num1+num2)
elif operator== "-":
    print(num1+num2)
elif operator== "*":
    print(num1*num2)
else:
    print("invalid operator")
    print("result of operator:")

enter first number 74
enter a second number 45
user demand('+','-','*','/') 98

invalid operator
result of operator:

In [60]:
num1=float(input("enter first number"))
num2=float(input("enter a second number"))
operator=input("user demand('+','-','*','/')")
if operator== "+":
    print(num1+num2)
elif operator== "-":
    print(num1+num2)
elif operator== "*":
    print(num1*num2)
else:
    print("invalid operator")
    print("result of operator:",result)

enter first number 45
enter a second number 67
user demand('+','-','*','/') 56

invalid operator

NameError: name 'result' is not defined

In [7]:
num1=float(input("enter first number"))
num2=float(input("enter a second number"))
operator=input("user demand('+','-','*','/')")
if operator== "+":
    result=print(num1+num2)
elif operator== "-":
    result=print(num1+num2)
elif operator== "*":
    result=print(num1*num2)
else:
    print("invalid operator")
    print("result of operator:",result)

enter first number 8
enter a second number 4
user demand('+','-','*','/') 92

invalid operator
result of operator: None

In [5]:
num1=float(input("enter first number"))
num2=float(input("enter a second number"))
operator=input("user demand('+','-','*','/')")
if operator== "+":
    result=print(num1+num2)
elif operator== "-":
    result=print(num1-num2)
elif operator== "*":
    result=print(num1*num2)
else:
    print("invalid operator")
    print()

enter first number 47
enter a second number 45
user demand('+','-','*','/') 52

invalid operator

In [27]:
num1=float(input("enter first number"))
num2=float(input("enter a second number"))
operator=input("user demand('+','-','*','/')")
if operator== "+":
    result=print(num1+num2)
elif operator== "-":
    result=print(num1+num2)
elif operator== "*":
    result=print(num1*num2)
else:
    print("invalid operator")
    print("result of operator:",result)

enter first number 45
enter a second number 12
user demand('+','-','*','/') 45

invalid operator
result of operator: None

In [16]:
ingredient1= ("enter a name")
ingredient2=("enter a name")
ingredient3=("enter a name")
ingredient4=("enter a name")
ingredient5=("enter a name")
ingredient6=("enter a name")
ingredient7=("enter a name")
ingredient8=("enter a name")
if ingredient1+ingredient3+ingredient4+ingredient7:
    print("normal tea")
if ingredient1+ingredient4+ingredient2:
    print("lemon tea")
else:
    print("tea")

normal tea
lemon tea

In [2]:
choice1=input("enter a number")
choice2=input("enter a number")
choice3=input("enter a number")
choice4=input("enter a number")
choice5=input("enter a number")
choice6=input("enter a number")
choice7=input("enter a number")
operator=input("choice")
if choice== 'choice1'+'choice3'+'choice6'+'choice7:
    print("lemon tea")
if choice== 'choice1'+'choice2'+'choice6'+'choice7':
    print("normal tea")
elif choice== choice1+choice2+choice6+choice7+choice5:
    print("masala tea")
else: 
    print("tea")

enter a number water
enter a number milk
enter a number sugar
enter a number tea leaves
enter a number ginger
enter a number masala
enter a number cardamom
choice  choice1+choice3+choicechoice6+choice7

tea

In [6]:
num=input("tea")
operator=input("enter operator (milk/water/cardamom/sugar/ginger/lemon):")
if operator== 'milk':
    print("normal tea")
elif operator== 'lemon':
    print("lemon tea")
elif operator== 'ginger':
     print("masala tea")
else:
    print("operator:")

tea tea
enter operator (milk/water/cardamom/sugar/ginger/lemon): lemon

lemon tea

In [9]:
tea=input("choice")
aqsa=input("milk"+"ginger"+"water"+"milk"+"sugar")
if choice== "milk"+"ginger"+"water"+"milk"+"sugar":
    print("normal")
elif choice== "milk"+"ginger"+"water"+"milk"+"sugar"+"masala":
    print("masala tea")
else:
    print("choice")

choice tea
milkgingerwatermilksugar "milk"

NameError: name 'choice' is not defined

In [4]:
tea=input("choice")
choice=input("customer demand('milk'/'ginger'/'water'/'milk'/'sugar'):")
if choice== "milk":
    print("normal")
elif choice== "masala":
    print("masala tea")
else:
    print("rate")

choice masala tea
customer demand('milk'/'ginger'/'water'/'milk'/'sugar'): 'milk'

rate

In [3]:
choice=input("demand of customer")
operator=input("user choice('masala tea','normal tea','lemon tea')")
if operator =='masala tea':
    print ('milk','water','sugar','tea leaves','masala')
if operator =='lemon tea':
    print ('lemon','water','sugar','tea leaves','masala')
else:
    print( 'tea')

demand of customer 'lemon tea'
user choice('masala tea','normal tea','lemon tea') 'lemon tea'

tea

In [2]:
choice=input("enter the tea you want (lemon/black/masala):")
if choice=="lemon":
    print("lemon")
    print("water")
    print("tea leaves")
elif choice=="black":
    print("water")
    print("tea leaves")
elif choice=="masala":
    print("water")
    print("tea leaves")
    print("milk")
    print("ginger")
else:
    print("tea")

enter the tea you want (lemon/black/masala): lemon

lemon
water
tea leaves

In [2]:
num=input("tea")
operator=input("enter operator (milk/water/cardamom/sugar/ginger/lemon):")
if operator== 'milk':
    print("normal tea")
elif operator== 'lemon':
    print("lemon tea")
elif operator== 'ginger':
     print("masala tea")
else:
    print("operator:")

tea lemon
enter operator (milk/water/cardamom/sugar/ginger/lemon): lemon

lemon tea

In [8]:
num=input("tea")
operator=input("enter operator (milk/water/cardamom/sugar/ginger/lemon):")
if operator== 'milk':
    print("normal tea")
elif operator== 'lemon':
    print("lemon tea")
elif operator== 'ginger':
     print("masala tea")
else:
    print("operator:")

tea rate
enter operator (milk/water/cardamom/sugar/ginger/lemon): 45

operator:

In [1]:
choice=input("choice of tea")
if choice== "water+milk+sugar+tea_leaves":
    print("normal tea")
if choice== "water+milk+sugar+tea_leaves":
    print("masala tea")
if choice== "water+milk+sugar+tea_leaves+cardamom":
    print("cardamom tea")
if choice== "water+milk+sugar+tea_leaves":
    print("lemon tea")
else:
    print("tea")

choice of tea  "water+milk+sugar+tea_leaves":

tea

In [4]:
num=input("tea")
operator=input("enter operator (milk/cardamom/ginger/lemon):")
if operator== 'milk':
    print("normal tea")
elif operator== 'lemon':
    print("lemon tea")
elif operator== 'ginger':
     print("masala tea")
else:
    print("operator:")

tea tea customer demand
enter operator (milk/cardamom/ginger/lemon): lemon

lemon tea

In [9]:
num1=set(input("enter a number"))
print(type(num1))

enter a number 89,90

<class 'set'>

In [8]:
num2=list(input("enter a number"))
print(type(num2))

enter a number [78,78]

<class 'list'>

In [14]:
num3=dict(input("enter a number"))
print(type(num3))

enter a number 67

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [12]:
num4=tuple(input("enter a number"))
print(type(num4))

enter a number 56,87

<class 'tuple'>

## get multiple inputs from a user in one line:use of split() function

in python ,it is possible to get multiple values from the user in one line. we can accept two or three valuse from thr user 

for examples ,in a single executive of the input () function ,we can ask the user his/her name,name age ,and phonr number amd store it in three different variables 
lets see how to do this 
take each input separated by space split input string using split () get  the values of individual input 

here are a few common use cases for the split () function:
* (1) tokenizing a string: if you have a string that contains multiple words or values separetd by a specific character (such as space, comma or any other delimeter ), you can use split() to split the string into individual tokens .for example :

In [6]:
sentence="hello how are you"
words=sentence.split()   ## splitting by default 
print(words)
print(type(words))

['hello', 'how', 'are', 'you']
<class 'list'>

In [21]:
numbers="10,89,45,78,89,65,43,"
values=numbers.split(",")
print(values)

['10', '89', '45', '78', '89', '65', '43', '']

In [23]:
sentence="hello how are you"
words=sentence.split(" ")
print(words)
print(type(words))

['hello', 'how', 'are', 'you']
<class 'list'>

In [4]:
sentence="hello how are you"
words=sentence.split(,)
print(words)
print(type(words))

SyntaxError: invalid syntax (955607553.py, line 2)

In [3]:
sentence="hello how are you"
words=sentence.split('*')
print(words)
print(type(words))

['hello how are you']
<class 'list'>

In [1]:
sentence="hello how are you"
words=sentence.split('+')
print(words)
print(type(words))

['hello how are you']
<class 'list'>

In [2]:
sentence="hello how are you"
words=sentence.split(1)
print(words)
print(type(words))

TypeError: must be str or None, not int

In [3]:
sentence="hello how are you"
words=sentence.split('1')
print(words)
print(type(words))

['hello how are you']
<class 'list'>

In [5]:
sentence="hello how are you"
words=sentence.split()     ## comma by default
print(words)
print(type(words))

['hello', 'how', 'are', 'you']
<class 'list'>

## (2) extracting substrings:

if you have a string with a consistent pattern (here star*) and you want to extract specific parts of it ,you can use split () to separate teh string into parts and acess the desired substring .for examples:

In [7]:
date="2023*06*06"
year,month,days=date.split("*")
print(year,month,days)

2023 06 06

In [10]:
terminator="this +book+is+good"
harry_potter=terminator.split("+")
print(harry_potter)

['this ', 'book', 'is', 'good']

In [17]:
aqsa="23+67*89"
sona=aqsa.split("+,*")
print(sona)

['23+67*89']

In [23]:
operator = "this*is*the*very*good"
off=operator.split("*")
print(off)

['this', 'is', 'the', 'very', 'good']

In [26]:
data="john,25,85.5"
name,age,marks=data.split(",")
print(name,age,marks)
print(type(data))

john 25 85.5
<class 'str'>

In [1]:
data="john,25,85.5"
name,age,marks=data.split("25")
print(name,age,marks)
print(type(data))

ValueError: not enough values to unpack (expected 3, got 2)

In [9]:
data= "john 25 85.5"
name=(data.split("25"))
print(name)

['john ', ' 85.5']

In [4]:
date="23*90*34"
newdate=date.split("23")
print(newdate)

['', '*90*34']

its important to note the split() returns()a list of substring ,and you can specify the delimetre an argument to the function .if an no delimiter is provided ,its split the string ny white space charcter by default

In [10]:
name,age,marks,=input("enter the name ,age, percentage separerate by $").split("$")
print("/n")
print("user details:",name,age,marks)

enter the name ,age, percentage separerate by $ aqsa$22$34

/n
user details: aqsa 22 34

In [60]:
num1=input("enter three name:")

enter three name: aqsa sona sonal

num1=input("enter three name:").split()
print("name:",num1)

In [68]:
num1=input("enter three name:").split("$")
print("name:",num1)

enter three name: aqsa$me$you

name: ['aqsa', 'me', 'you']

In [2]:
num2=input("enter a four name").split("*")
print(num2)

enter a four name aqsa*sona*sapmna*rahul

['aqsa', 'sona', 'sapmna', 'rahul']

In [3]:
num3=input("enter the number").split("+")
print(num3)

enter the number 1+2+3+4+

['1', '2', '3', '4', '']

In [7]:
num1=input("enter three name:").split(",")

print(num1)

enter three name: aqsa,sona,sonal

['aqsa', 'sona', 'sonal']

In [1]:
ingredient=input("enter the ingredient").split("#")
print("user choice:",ingredient)
print("lemon tea")

enter the ingredient water#lemon#tealeaves

user choice: ['water', 'lemon', 'tealeaves']
lemon tea

In [ ]:
ingredient1=input("enter a ingredient").split("#")
ingredient2=input("enter a ingredient").split("#")
ingredient3=input("enter a ingredient").split("#")
ingredient4=input("enter a ingredient").split("#")
ingredient5=input("enter a ingredient").split("#")
choice=input("user choice:")
if ingredient1==

In [ ]:
ingredient=input("enter the ingredient").split(",")

In [6]:
name=input("name").split("$")
print(name)

name aqsa$mahak

['aqsa', 'mahak']

In [7]:
student=input("name,class, rollno,subject").split("#")
print(student)

name,class, rollno,subject aqsa#class_12#52#english

['aqsa', 'class_12', '52', 'english']

In [7]:
terminator=input("name").split()
print(terminator)

name aqsa mahak

['aqsa', 'mahak']

In [ ]:
a for loop is used to repeat a block od code a specific number of times ,or for each items in a sequence (like a list ,string ,etc,).