In [2]:
name="aqsa"              ## variables 
age=56
print(name)
print(age)

aqsa
56

In [4]:
## boolean
its_adult=True 
print(name)

aqsa

In [6]:
number=("aqsa is a number")
"a" in  number

True

In [5]:
name=input("name the girl of topper")

name the girl of topper aqsa

In [11]:
name=(input("hup"))

hup sona

In [15]:
name=input("what is your name")
print("hello" + name)

what is your name sona

hellosona

In [18]:
a=input("super hero name:")
name= print(" sona super hero name "+ a)

super hero name: batman

 sona super hero name batman

In [22]:
sum1=int(input("number"))
sum2=int(input("number"))
a=sum1+sum2
print( "this is the sum of numbers:",a)

number 3
number 2

this is the sum of numbers: 5

In [4]:
first=input("operator choice(+,-,*,/,): ")
number1=int(input("aqsa"))
number2=int(input("sona"))
if operator== "+":
    print(number1+number2)
elif operator== "-":
    print(number1-number2)
else:
    print("nothing")

operator choice(+,-,*,/,):
aqsa

ValueError: invalid literal for int() with base 10: ''

In [8]:
num1=range(12)
print(num1)

range(0, 12)

In [1]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [2]:
i=1
while i<=5:
    print(i*"*")
    i=i+1

*
**
***
****
*****

In [5]:
i=6
while i>=0:
    print(i*"*")
    i=i-1

******
*****
****
***
**
*

In [9]:
for i in range(4):
    print(i+1)

1
2
3
4

In [13]:
name="riya"
age=78
print(f" my name is {name} and my age is {age}")

 my name is riya and my age is 78

In [15]:
print("my name is {0} and my age is {1}) .format([riya,78])

SyntaxError: unterminated string literal (detected at line 1) (1996238297.py, line 1)

In [2]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [ ]:
num=1
while 1<0:
    print(2)

In [ ]:
for i in