##### 1. Mutable 

##### 2. Immutable

1. Mutable/ Unhashable/sequense data types = these datatypes are those datatypes which can be changed but after changing their memory address do not changes.
 list , set and dictionary (LSD) are mutable datatypes.

 List = is a mutable datatype, having following characteristics-
* list is mutable that is it can be modified replace or deleted without changing memory address.
* it contains duplicate items.
* list is ordered i.e. the order of the elements is based in such a way that they can be added in some order.
* the items of the list can be accessed directly using their index numbers which starts from 0.
* list maycontain  mix type of data.
* list are denoted by"[ ]".
* list can contain duplicates that is list can have 2 items with same value.
* list is iterable .

### Creating a Python list with different datatypes

the list can be created using either the list constructor or using square brackets [].
* using list constructor in general, constructor of a class has its name : simillarly create a list by passing the comma seperated values inside the list.
* using [] in this method , we can create a list simply by enclosing the items inside the [].

In [60]:
list_items= [ 29, "mamta" , (25,) , [2,5,9]]
print(list_items)

[29, 'mamta', (25,), [2, 5, 9]]

In [61]:
list_2 = [ (20,) , (35,), (50,)]
print(list_2)

[(20,), (35,), (50,)]

In [62]:
list_3 = [ "sona", 24 , 2.3, (30,), "kunwar"]
print(list_3)

['sona', 24, 2.3, (30,), 'kunwar']

In [63]:
list_4 =[ True , "False" , "Aqsa" , 20.2]
print(list_4)

[True, 'False', 'Aqsa', 20.2]

In [64]:
list_5 = [ "and", "or", {30,20,40 }]
print(list_5)

['and', 'or', {40, 20, 30}]

In [65]:
list_5 = [("sonakunwar") ,20 , (21,), { 10}]
print(list_5)

['sonakunwar', 20, (21,), {10}]

### Creating A Python list -

In [66]:
list1 = [1, 7,90]
list_2=  ["A","q","s" ,"a"]
tuple1 = ( 1, 6, 8, 90)
set1 = {2, 7,90,67}
str1 = "aditya"

In [67]:
list1 = list(tuple1)
print(list1)

TypeError: 'list' object is not callable

In [ ]:
name1 = str(list_2)
print(name1)

In [ ]:
str_name = "kavita"
list1 =list(str_name) #type casting
print(list1)

In [ ]:
list1 = list(str1)
print(list1)

In [ ]:
tuple1 = tuple(str1)
print(tuple1)

In [ ]:
tuple(str1)

In [ ]:
list1 = list(str1)
print(list1)

In [ ]:
set1 = set(str1)
print(set1)

In [ ]:
list_mix = [21 ,"kavita",35.6, {29,27}]
print(len(list_mix))

In [ ]:
name = "sona"
set_1 = { 1, 20 , 393, 29.9 }
list = [ 3, 24, 29 , "sona"]

In [ ]:
name = "sona"
set_1 = { 1, 20 , 393, 29.9 }
list = [ 3, 24, 29 , "sona"]
set_2 = set(name)
print(set_2)

### Indexing-

list is ordered how: accessing items of a list(idexing shows the properrty of list being ordered)
* The items in a list can be accessed through indexing and slicing. this section will guide you by accessing the list using the following two ways
* using indexing, we can access any items from a list using its index no.
* using slicing we can access a range of items from a list.

In [ ]:
list_1 = [20, 49, "aditya" , 34.9 ]
print(list_1[2])

In [ ]:
list_1 = [20, 49, "aditya" , 34.9,50 ,40.2 ,62 ]
print(len(list_1))

print(list_1[-1]) 
print(list_1[-7]) 
print(list_1[-6]) 
print(len(list_1) +2)
print(len(list_1) +5) 
print(len(list_1) *2) 
print(list_1[3:]) 
print(list_1[0:])
print(list_1[::-1])
print(list_1[2:10]) 
len(list_1)

In [ ]:
list_2 = [20, 49,190, 'sona' , 34.9 ,50 ,(40.2 ,62) , 59, 40 ] 
print(list_2[2:10]) 
print(list_2[2:7:4])
print(list_2[1: 8: 3])
print(list_2[0:9:2]) 
print(list_2[-1:-9:-2])
print(list_2[-2:-8:-3]) 
print(list_2[ 0: 5: 2])
print(list_2[::-1])

In [ ]:
list_a = [23,34,395,593,109,395,400,"aqsa", "aditya"]
print(list_a[1:4])
print(list_a.count(395))

In [ ]:
set2 ={ 24,49,(23,42,33),20}
print(type(set2))

In [ ]:
tuple4 = ( "anna","sona",(23,),(34,50),40)
print(type(tuple4))

In [ ]:
string_2 ="Aqsa"
print(type(string_2))

In [ ]:
list_3 = [23,34,395,593,109,395,400,"aqsa", "aditya"]
print(type(list_3) )

In [ ]:
list2 =[23,34,395,593,109,395,400]
list2 = list(string_2)
print(list2)

In [ ]:
list_b =[23,34,395,593,109,395,400]
print(len(list_b))

In [ ]:
list_s = [ 23,43, 45, 90, 29, 90, 20, 45,23]
print(list_s[0:10])  # to get each and every item of the list
print(list_s[:])
print(list_s[0:])
print(list_s[::-1]) #reversing the list

### Iterating a list-

the object in the list can be itererted over one by one by using a for loop.

In [116]:
list1 = [ 23,4, "Geoffrey Hinton", 90.4 ,"Sam Altman" ]
print(list1) #without iteration
#iterate a list 
for i in list1 :
    print (i)

[23, 4, 'Geoffrey Hinton', 90.4, 'Sam Altman']
23
4
Geoffrey Hinton
90.4
Sam Altman

In [117]:
my_list = [23,34,395,400,"aqsa"]
for i in my_list :
    print(i)

23
34
395
400
aqsa

In [118]:
list2= [123,234,100,"354",15.5, 243,123, 100]
for i in list2:
    print(type(i)) 
    print(i)

<class 'int'>
123
<class 'int'>
234
<class 'int'>
100
<class 'str'>
354
<class 'float'>
15.5
<class 'int'>
243
<class 'int'>
123
<class 'int'>
100

In [119]:
for a in list2:
    print(a)

123
234
100
354
15.5
243
123
100

### Adding Elements to the list -

* append takes only 1 argument.
* insert takes 2 arguments .
* 'int' object is not iterable for extend.

In [120]:
list2 =[ 34,25,23,"Nisha",34]
print(id(list2))

2150936659392

In [121]:
list_3=[ 34,25,23,"Nisha"]
print(id(list_3))

2150936582720

In [122]:
list1=[1, 34,25,23,"Nisha",34]
print(id(list1))

2150936264000

In [123]:
list1=[1, 34,25,23,"Nisha",34] 

print(id(list1))

2150936501888

In [124]:
list1.append(20)
print(list1)
print(id(list1))

[1, 34, 25, 23, 'Nisha', 34, 20]
2150936501888

In [125]:
list1.insert(2,5)
print(list1)

[1, 34, 5, 25, 23, 'Nisha', 34, 20]

In [126]:
list1.append("sona") # append takes only 1 argument
print(list1)

[1, 34, 5, 25, 23, 'Nisha', 34, 20, 'sona']

In [127]:
list1.insert( 0,21) # insert takes 2 arguments 
print(list1)

[21, 1, 34, 5, 25, 23, 'Nisha', 34, 20, 'sona']

In [128]:
list1.insert( 0,[20,23])
print(list1)

[[20, 23], 21, 1, 34, 5, 25, 23, 'Nisha', 34, 20, 'sona']

In [129]:
list1= [1, 34,25,23,"Nisha", 34 ] 
list1.insert(7,29)
print(list1)

[1, 34, 25, 23, 'Nisha', 34, 29]

In [130]:
list1= [1, 34,25,23,"Nisha", 34] 
list1.insert(-1,29)
print(list1)

[1, 34, 25, 23, 'Nisha', 29, 34]

In [131]:
list1= ["sona", 20, "aqsa", "komal", "anjali"] 
list1.extend("Aqsa")
print(list1)

['sona', 20, 'aqsa', 'komal', 'anjali', 'A', 'q', 's', 'a']

In [132]:
list_1=["neha", "sona", "suman", "sun"]
list_1.extend("sun")
print(list_1)

['neha', 'sona', 'suman', 'sun', 's', 'u', 'n']

In [133]:
list_1= ["sona", 20, "aqsa", "komal", "anjali"]
list_1.append(30)
print(list_1)

['sona', 20, 'aqsa', 'komal', 'anjali', 30]

In [134]:
list_1.insert(-1,40)
print(list_1)

['sona', 20, 'aqsa', 'komal', 'anjali', 40, 30]

In [135]:
list_1.insert(len(list_1),100)
print(list_1)

['sona', 20, 'aqsa', 'komal', 'anjali', 40, 30, 100]

In [136]:
list_1.extend("20")
print(list_1)

['sona', 20, 'aqsa', 'komal', 'anjali', 40, 30, 100, '2', '0']

In [137]:
list_1= ["sona", 20, "aqsa", "komal", "anjali"]
list2 = list_1.append(25)
print(list2)

None

In [138]:
list_1 = ["sona", 20, "aqsa", "komal", 25,30,"anjali"]
list2 = list_1.insert(0,30)
print(list2)

None

In [139]:
list_1.insert(2,30)
print(list_1)

[30, 'sona', 30, 20, 'aqsa', 'komal', 25, 30, 'anjali']

In [140]:
list_a = ["sona",26,35,"Aqsa"]
list_a.insert(2,20)
print(list_a)

['sona', 26, 20, 35, 'Aqsa']

In [141]:
list_1 =[2 ,25,31,29]
list_1[2] = 300
print(list_1)

[2, 25, 300, 29]

In [142]:
 #
for i in (list_1):
    print(i,end="")

22530029

## Modifing the item of a list

In [143]:
list_a = [24,45,30,50,92]
list_a[3] = 20
print(list_a)

[24, 45, 30, 20, 92]

In [151]:
list_a[4] = 35
print(list_a)

[30, 20, 30, 45, 35]

In [152]:
list_a[-1] = 10
print(list_a)

[30, 20, 30, 45, 10]

In [153]:
list_a[-1]= 30
print(list_a)

[30, 20, 30, 45, 30]

In [154]:
list_a.reverse()
print(list_a)

[30, 45, 30, 20, 30]

In [155]:

list_a[::-1]
print(list_a)

[30, 45, 30, 20, 30]

In [156]:
list_1= [24,45,30,50,92]
list_1.extend([24])
print(list_1)

[24, 45, 30, 50, 92, 24]

In [157]:
list_1.extend(24)
print(list_1) # these works for iterable datatypes - set, list, string

TypeError: 'int' object is not iterable

In [158]:
list_1.extend("24")
print(list_1)

[24, 45, 30, 50, 92, 24, '2', '4']

In [159]:
list_1= [24,45,30,50,92]
list_1.extend({24})
print(list_1)

[24, 45, 30, 50, 92, 24]

In [160]:
list_1.append("sona")
print(list_1)

[24, 45, 30, 50, 92, 24, 'sona']

In [161]:
list_1.append([24])
print(list_1)

[24, 45, 30, 50, 92, 24, 'sona', [24]]

In [162]:
list_1.append((24,20))
print(list_1)

[24, 45, 30, 50, 92, 24, 'sona', [24], (24, 20)]

In [163]:
list_1.append({300})
print(list_1)

[24, 45, 30, 50, 92, 24, 'sona', [24], (24, 20), {300}]

#### Removing elements from a list-

* remove(item ) = to remove 1st occurence of item from the list.
* pop(index) = removes and returns the items at given index from the list
* clear() = to remove all items from list. the output will be an empty list.
* del list_name = delete the entire list.

In [2]:
list_a = [24,45,30,50,"Aditya",100]
list_a.remove(45)
print(list_a)

[24, 30, 50, 'Aditya', 100]

In [165]:
list_a.pop(2)
print(list_a)

[24, 30, 'Aditya', 100]

In [3]:
list_a.clear()
print(list_a)

[]

In [4]:
list_a = [24,45,30,50,100]
del list_a 
print(list_a) 
# NameError is showing because the list is deleted.

NameError: name 'list_a' is not defined

In [5]:
list_b = [32,20,18,35,90]
list_b.remove(20)
print(list(list_b))

[32, 18, 35, 90]

In [6]:
list_b.pop(2)
print(list_b)

[32, 18, 90]

In [170]:
list1 =[25,35,25,95,25,25]
list1.remove(25)
print(list1)

[35, 25, 95, 25, 25]

In [171]:
list2 =[25,35,25,95,25,25]
del list1
print(list1)

NameError: name 'list1' is not defined

In [172]:
list_b.clear()
print(list_b)

[]

In [173]:
list_1 = [25,35,34,20,34,[25,34]]
list_1.remove(25)
print(list_1)

[35, 34, 20, 34, [25, 34]]

In [174]:
list_1.pop(4)

[25, 34]

In [175]:
list_1.clear()
print(list_1)

[]

In [177]:
del list_1
print(list_1)

NameError: name 'list_1' is not defined

#### Remove the range of items -

In [178]:
list_1 = list([24,45,35,90,56,20,"raj"])
#remove range of items
# remove item from index 2 -5 
del list_1 [2 :5]
print(list_1)

TypeError: 'list' object is not callable

In [179]:

del list_1[0]
print(list_1)

NameError: name 'list_1' is not defined

In [180]:
list_1 = list([24,45,35,90,56,"nice","raj"])
del list_1[-1]
print(list_1)

TypeError: 'list' object is not callable

In [181]:
#remove all items starting from index
del list_1[0:]
print(list_1)

NameError: name 'list_1' is not defined

In [182]:
del list_1[::-1]
print(list_1)

NameError: name 'list_1' is not defined

In [193]:
list_1 = [24,45,35,90,56,20,"raj"]
del list_1[:]
del(list_1)

In [194]:
list_1= []
list_1.append(20)
print(list_1)

[20]

In [91]:
list_1.append(30)
print(list_1)

[20, 30]

In [92]:
list_1.insert(1,(40,50))
print(list_1)

[20, (40, 50), 30]

In [93]:
list_1.append("Nice")
print(list_1)

[20, (40, 50), 30, 'Nice']

In [94]:
list_1.extend("30")
print(list_1)

[20, (40, 50), 30, 'Nice', '3', '0']

In [95]:
list2 = list([]) 
list2.append((20,40))
print(list2)

TypeError: 'list' object is not callable

In [96]:
list2.append(400)
print(list2)

[25, 35, 25, 95, 25, 25, 400]

In [97]:
list2.insert(0,20)
print(list2)

[20, 25, 35, 25, 95, 25, 25, 400]

In [98]:
list2.insert(2,399)
print(list2)

[20, 25, 399, 35, 25, 95, 25, 25, 400]

In [99]:
list2.append("Nice")
print(list2)

[20, 25, 399, 35, 25, 95, 25, 25, 400, 'Nice']

In [100]:
list2.extend("30")
print(list2)

[20, 25, 399, 35, 25, 95, 25, 25, 400, 'Nice', '3', '0']

In [101]:
list2.append("sona")
print(list2)

[20, 25, 399, 35, 25, 95, 25, 25, 400, 'Nice', '3', '0', 'sona']

In [102]:
list2.extend("sona")
print(list2)

[20, 25, 399, 35, 25, 95, 25, 25, 400, 'Nice', '3', '0', 'sona', 's', 'o', 'n', 'a']

### reversing the list-

In [103]:
list2.reverse()
print(list2)

['a', 'n', 'o', 's', 'sona', '0', '3', 'Nice', 400, 25, 25, 95, 25, 35, 399, 25, 20]

In [104]:
print(list2[::-1])

[20, 25, 399, 35, 25, 95, 25, 25, 400, 'Nice', '3', '0', 'sona', 's', 'o', 'n', 'a']

In [4]:
#### FInding an element in a list -
list2 = [  20 , 400, (20,3), "sona", "saurabh" , 300 ]
list2.index((20,3))

2

In [106]:
list2.index(300)

5

In [107]:
list2.index(20)

0

In [108]:
print(list2[5])

300

In [109]:
list2.reverse()

In [110]:
list1 = [1,2,5,9,8,7] 
del list1[4:7]
print(list1)

[1, 2, 5, 9]

In [111]:
list1 = [1,2,5,9,8,7] 
list1.remove(8)
print(list1)

[1, 2, 5, 9, 7]

In [112]:
newlist = []
newlist.append(list1)
print(newlist)

[[1, 2, 5, 9, 7]]

### Concatenation -

* Concatenation of 2 lists means merging of 2 list. their are 2 ways to do that using the +operator, using the the extend()method.
* the extend append the new list's item at the end of the calling list.

In [199]:
list_1 = [23,53,56,62,94,85]
list_2 = [ 45,25,82,43,94,30]
list_1.extend(list_2)
print(list_1)

[23, 53, 56, 62, 94, 85, 45, 25, 82, 43, 94, 30]

In [5]:
a = [10,53,56,62,94,85]
b = [200,25,82,43,94,30] 
c = a+b
print(c)

[10, 53, 56, 62, 94, 85, 200, 25, 82, 43, 94, 30]

In [115]:
list_a = [24,45,30,50,92]
list_b = [32,20 ,18,35,90]
list_a.extend(list_b)
print(list_a)

[24, 45, 30, 50, 92, 32, 20, 18, 35, 90]

In [6]:
list_1 = [23,53,56,62,94,85]
list_2 = [ 45,25,82,43,94,30]
list3 = (list_1+ list_2)
list_1.extend(list3)
print(list_1)

[23, 53, 56, 62, 94, 85, 23, 53, 56, 62, 94, 85, 45, 25, 82, 43, 94, 30]

In [8]:
list_1 = [23,53,56,62,94,85]
list_2 = [ 45,25,82,43,94,30]
list3 = (list_1+ list_2)
list_1.extend(list3)
print(list_1)

[23, 53, 56, 62, 94, 85, 23, 53, 56, 62, 94, 85, 45, 25, 82, 43, 94, 30]