## pyhthon variables

In pyhton variables are used to store data.that can reference and manipulated during solving the problem a variables is an aasigned a value . in python it 
is not necessary to declare the data type during assignment of variables act as a place holder data

In [8]:
name= "swarnika"
print(name)

swarnika

In [1]:
name= "aqsa"
print(name)

aqsa

In [38]:

print(x)

TypeError: 'int' object is not callable

In [2]:
x= 50 
print(x)

50

In [4]:
x=50
print(x)

50

## Rules for names variables

* variables name can only contain letters , digits ,underscore

* a variables name cannot start with number
* variables names are case sensitive 
* avoid using pyhthon keywords

In [14]:
_score =25
print(_score)

25

In [5]:
_score =25
print(_score)

25

In [6]:
_score=89
print(_score)

89

In [14]:
X=20
print(x)

TypeError: 'int' object is not callable

In [15]:
1=20

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (123647830.py, line 1)

In [16]:
total-student=29
print(total-student)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1657763922.py, line 1)

In [17]:
total_student=76
print(total_student)

76

In [7]:
total_student= 76
print(total_student)

76

In [8]:
1_student= 23
print(1_student)

SyntaxError: invalid decimal literal (536451388.py, line 1)

In [45]:
x=25
print=(X)

In [18]:
True =25
print(True)

SyntaxError: cannot assign to True (270943673.py, line 1)

## dynamic typing

python variables are dynamically typed

In [40]:
x="sangeeta"
x=20
print (x)

20

In [2]:
y="aqsa"
y=70
print(y)

70

In [4]:
x=90
x="sona"
print(x)

sona

## multiple assignment

python allowes multiple variables in a single line

In [29]:
a,b,c,=10,10,10 
print(a)
print(b)
print(c)
print(a,b,c)

10
10
10
10 10 10

In [11]:
p,q,r=10,10,10
print(p)
print(q)
print(r)
print(p,q,r)

10
10
10
10 10 10

 ## assigning different values

* python allows different values to multiples varaibles

In [34]:
x=25
y=29
z="mamta"
print(x,y,z)

25 29 mamta

In [36]:
x,y,z=25,29,"mamta"
print(x,y,z)

25 29 mamta

In [39]:
a,b,sona =29,89,67
print(a,b,sona)

29 89 67

In [41]:
p,q,r=22,34,45
print(p,q,r)

22 34 45

In [1]:
a,b,c =20,90,89
print(a,b,c)

20 90 89

In [9]:
p,q,r=45,56,87
print(p,q,r)

45 56 87