## characterstics of set:-

a set is a built in data stucture in python with the following 3 characterstics 
* unordered : the items in the set are unordered ,unlike lists,i:e,it will not maintain the order in which the item are inserted the items will be in a different order each time when we acces the set object their will not be be any index value assigned to each item in  the set
* unchangeable : set item must be immutable we can not change the set items but set as a whole is matuable
* unique: their can not be two items with the  same value in the set
* iterable

In [67]:
a={78,90}
print(type(a))

<class 'set'>

In [69]:
b={78,"aqsa",(89,78)}
print(type(b))

<class 'set'>

In [76]:
c=set([90,89,76,56])
print(type(c))

<class 'set'>

In [73]:
d=set([90,89],[90,56],[45,34])
print(type(d))

TypeError: set expected at most 1 argument, got 3

In [74]:
d=set([90,89],"aqsa",78)
print(type(d))

TypeError: set expected at most 1 argument, got 3

In [81]:
aqsa={76,89,90,34}
a= list(aqsa)
print(a)

[89, 90, 76, 34]

In [82]:
a=set(a)
print(a)

{89, 90, 76, 34}

In [83]:
aqsa=[90,45,89,78,78,90,90,45,45,67,67]
a=set(aqsa)
print(a)

{67, 45, 78, 89, 90}

In [84]:
b=list(a)
print(b)

[67, 45, 78, 89, 90]

## creating a set

There are following to ways to create a set in python 
* using {}: the easiet and straight forward way off creating a set by just inclosing of data item inside the {}.the indivisual value are comma separated
* using set () contructor : the set object is of type class "set" .so we can create a set by calling contructor of class 'set'.

In [86]:
a=set([67,89,78,90])
print(type(a))

<class 'set'>

In [89]:
b={89,90,34,"aqsa",(23,22)}
print(type(b))

<class 'set'>

In [90]:
d=set("aqsa")
print(type(d))

<class 'set'>

In [91]:
b=set([45,78])
print(type(b))

<class 'set'>

In [98]:
aqsa=set("appppple")
print(aqsa)

{'e', 'a', 'l', 'p'}

In [101]:
sona =set("aqssssssssssa")
print(sona)

{'a', 'q', 's'}

In [3]:
sona=set([78,90,56])
print(sona)

{56, 90, 78}

In [4]:
set1=set(6,8)
print(type(set1))            ## only 1 argument

TypeError: set expected at most 1 argument, got 2

In [11]:
sona=set([90,78,45])
print(sona)

{90, 45, 78}

In [1]:
aqsa=set((4))
print(type("aqsa"))

TypeError: 'int' object is not iterable

In [7]:
aqsa=set((4,))
print(type(aqsa))

<class 'set'>

In [6]:
set1=set([])
print(type(set1))            ## empty set

<class 'set'>

In [7]:
list1=[ 78,90,67,"aqsa",]
a=set(list1)
print(a)

{90, 67, 'aqsa', 78}

In [8]:
b=list(a)
print(b)

[90, 67, 'aqsa', 78]

In [9]:
print(b[1])
print(b[2])
print(b[3])

67
aqsa
78

In [15]:
set1={90,56,56,67}
aqsa=list(set1)
set2={78,56,45}
sona=list(set2)
set3=(sona+aqsa)
print(set3)

[56, 45, 78, 56, 90, 67]

In [10]:
my_set={3,1.5,9,"aqsa"}
name =list(my_set)
print (name)

['aqsa', 1.5, 3, 9]

In [11]:
print(name[1])

1.5

In [12]:
a={67,34,67,78,89}
b=list(a)
print(a)

{89, 34, 67, 78}

In [13]:
print(b[1])

34

In [14]:
list1=[25,29,3,3,36]
a=set(list1)
print(a)

{25, 3, 36, 29}

In [16]:
list1=(25,29,3,3,36)
a=set(list1)
print(a)

{25, 3, 36, 29}

In [2]:
a=[56,89,90,90]
a=tuple(a)
print(a)

(56, 89, 90, 90)

In [5]:
my_set={34,89,78}
for i in my_set:
    print(i)

89
34
78

In [18]:
namra={45,67,89}
for i in namra:
    print(i)
aqsa=list(namra)
print(aqsa)

89
67
45
[89, 67, 45]

In [17]:
print(aqsa[1])

67

## create a set from list

In [6]:
a=[20,30,20,30,50,30]
a=set(a)
print(a)

{50, 20, 30}

 ## concatenation

In [10]:
set1={20,30,20,30,50,30}
set2={2,3,29,39,50,30}
set3=(set1-set2)
print(set3)

{20}

In [14]:
set1={20,30,20,30,50,30}
set2={2,3,29,39,50,30}
set3=(set1+set2)
print(set3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [12]:
set1={20,30,20,30,50,30}
set2={2,3,29,39,50,30}
set3=(set1*set2)
print(set3)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [13]:
set1={20,30,20,30,50,30}
set2={2,3,29,39,50,30}
set3=(set1/set2)

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [15]:
set1={20,30,20,30,50,30}
set2={2,3,29,39,50,30}
set3=(set1==set2)
print(set3)

False

In [16]:
set1={20,30,20,30,50,30}
set2={2,3,29,39,50,30}
set3=(set1 and set2)
print(set3)

{2, 3, 50, 39, 29, 30}

In [19]:
set1={20,30,20,30,50,30}
set2={2,3,29,39,50,30}
set3=list(set1)
print(set3)

[50, 20, 30]

In [20]:
set2=list(set2)
print(set2)

[2, 3, 50, 39, 29, 30]

In [21]:
print(set3+set2)

[50, 20, 30, 2, 3, 50, 39, 29, 30]

In [22]:
a=set(set2)
print(set2)

[2, 3, 50, 39, 29, 30]

In [28]:
set1={45,67,89,90}
tuple1=(78,67,78,45)
a=tuple(set1)
tuple2=(a+tuple1)
print(tuple2)

(89, 90, 67, 45, 78, 67, 78, 45)

In [29]:
set2=set(tuple2)
print(set2)

{67, 45, 78, 89, 90}

In [27]:
list1=[90,67,89,56,]
set1={56,89,34,}
a=list(set1)
print(a)
print(a+list1)

[56, 89, 34]
[56, 89, 34, 90, 67, 89, 56]

In [24]:
list1=[90,45,45,89]
aqsa=set(list1)
print(aqsa)
for i in aqsa:
    print(i)

{89, 90, 45}
89
90
45

In [44]:
set1={}
print(type(set1))

<class 'dict'>

In [47]:
tuple2=()
print(type(tuple2))

<class 'tuple'>

## accessing items of a set:set being unordered so no indexing

In [48]:
book={"harry potter","angel and demons","altas shrugged"}
for i in book:
    print(i)

harry potter
altas shrugged
angel and demons

In [53]:
book={"harry potter","angel and demons","altas shrugged"}
book=list(book)
print(book)

['harry potter', 'altas shrugged', 'angel and demons']

In [65]:
for i in book:
    print(i)

harry potter
altas shrugged
angel and demons

In [66]:
print(book[0::])
print(book[0])
print(book[1])
print(book[2])
print(book[1:3])
print(book[1:2])

['harry potter', 'altas shrugged', 'angel and demons']
harry potter
altas shrugged
angel and demons
['altas shrugged', 'angel and demons']
['altas shrugged']

In [1]:
set2={"aqsa","namra","sona",}
for i in set2:
    print(i)

sona
aqsa
namra

In [2]:
sona=list(set2)
print(sona)

['sona', 'aqsa', 'namra']

In [3]:
for i in sona:
    print(i)

sona
aqsa
namra

In [9]:
list1={90,89}
list2={90,65}
list3=(list1+list2)
print(list3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
sona=list(list1)
print(sona)

[89, 90]

In [11]:
aqsa=list(list2)
print(aqsa)

[65, 90]

## checking if an item exists in a set

In [15]:
set1={65,89,87,76}
151 in set1

False

In [16]:
set1={65,89,87,76}
print(len(set1))

4

In [17]:
a={90,45,34,23}
23 in a

True

In [18]:
print(len(a))

4

In [20]:
set={65,45,34}
print(len(set))
150 in set

3

False

## removing items from a set

* remove()    to remove a single item from a set this method will take one parameter , which is the item to be removed from the set throws a keyerror if an item not present in original set 
* discard ()    to remove a single item that mey or may not be present in the set this method also takes one parameter ,which is the item to be removed .if that item is present ,it will remove it .it will not throw any error if it is not present
* pop() to remove any random item from a set
* clear() to remove all items from the set .the output will be an empty list
* del set () delete the entire set

In [25]:
set1={78,90,56,33,22}
set1.remove(56)
print(set1)
print(id(set1))

{33, 22, 90, 78}
2063165132352

In [26]:
set3={90,89,45,45,}
set3.remove(45)
print(set3)

{89, 90}

In [27]:
set3.remove(89)
print(set3)

{90}

In [21]:
aqsa={90,45,45,33,23}
aqsa.remove(45)
print(aqsa)

{33, 90, 23}

In [66]:
set1.remove(100)
print(set1)
print(id(set1))

KeyError: 100

In [67]:
set1={78,90,56,33,22}
set1.discard(78)
print(set1)
print(id(set1))

{33, 22, 56, 90}
2718433856864

In [68]:
set1.discard(100)
print(set1)
print(id(set1))

{33, 22, 56, 90}
2718433856864

In [35]:
set2={34,56,23,22,54}
set2.pop()
print(set2)

{22, 23, 54, 56}

In [73]:
set2={56,78,45,56,34}
set2.pop()
print(set2)

{34, 45, 78}

## the following table will summarize the set operation an the  correspoonding set method used 
1. union : all the items of boths set will be returned . only

In [33]:
set3={45,67,89,99,}
set4={45,90,22,99}
set3.union(set4)

{22, 45, 67, 89, 90, 99}

In [32]:
aqsa={34,45,67,79}
sona={45,89,34,79}
aqsa.union(sona)

{34, 45, 67, 79, 89}

In [76]:
aqsa={67,89,34,34}
sona={809,45,34}
aqsa.union(sona)

{34, 45, 67, 89, 809}

In [42]:
set3={45,67,89,99,}
set4={45,90,22}
set3.intersection(set4)

{45}

In [38]:
set1={56,56,34}
set2={56,78,66}
set1.intersection(set2)

{56}

In [41]:
namra={45,78,34,23}
aqsa={45,34,78,34}
aqsa.intersection(namra)
aqsa.union(namra)

{23, 34, 45, 78}

In [77]:
set1={34,90,89,34}
set2={34,45,23}
set1.intersection(set2)

{34}

## the cperation difference returned the uniquw element of the 1 step which are not in 2 set

In [40]:
set1={45,67,89,34}
set2={45,34,11,22}
set1.difference(set2)

{67, 89}

In [41]:
set3={34,78,90,99}
set4={2,34,78,89,22}
set3.difference(set4)

{90, 99}

symmetric diffrence : returned the element which are not comman

In [58]:
set1={67,90,78,45,34}
set2={45,78,56,34}
set1.symmetricdifference(set2)

AttributeError: 'set' object has no attribute 'symmetricdifference'

In [74]:
set1={67,90,78,45,34}
set2={45,78,56,34}
print(set1.symmetric_difference(set2))

{67, 56, 90}

In [75]:
set3={34,67,89,34,78,45}
set4={34,45,33,22,33}
print(set3.symmetric_difference(set4))

{33, 67, 78, 22, 89}

In [1]:
set1={34,78,65,34,23}
set2={34,"aqsa", 34,76,90,}
print(set1.symmetric_difference(set2))

{65, 76, 78, 'aqsa', 23, 90}