### Tuple -
defination : A tuple is an ordered , immutable collection.
* allows duplicates 
* good for fixed records.

#### creating tuple-

In [2]:
t = (10,39,20)
single = (42,)
print("tuple:",t )
print("single element tuple:",single)

tuple: (10, 39, 20)
single element tuple: (42,)

In [3]:
print(type(t))

<class 'tuple'>

In [5]:
print(type(single))

<class 'tuple'>

In [7]:
t1 = ("python",)
print(type(t1))

<class 'tuple'>

In [9]:
t2 = 1,2,4
print(t2)
print(type(t2))

(1, 2, 4)
<class 'tuple'>

In [3]:
t3 = 1,
print(type(t3))

<class 'tuple'>

## Tuple methods -

len 
 note : len () is a function , not a method.

In [4]:
t = (10,20, 30)
print("length=", len(t))

length= 3

In [2]:
print(len(t))

3

## tuple .count()

In [5]:
t2 = ("elon musk", "elon musk", "nice")
t2.count("elon musk")

2

In [5]:
t = (1,2,3,1,2)
t.count(2)

2

### tuple.index()

In [22]:
t1 = (23,24,40,30,24)
print("index of 24:" ,t1.index(24))

index of 24: 1

In [23]:
t2 = (20, 10,30.9, 20)
print(t2.index(20))

0

 ### Indexing  and Slicing-

In [28]:
t = ("a", "b", "c", "d")
print("t[0] =",t[0])
print(t[-1])
print(t[0:3])

t[0] = a
d
('a', 'b', 'c')

In [10]:
tuple1= ("sona", 34,20,300,90)
print(tuple1[0:])
print(tuple1[::-1])
print(tuple1[0:6])

('sona', 34, 20, 300, 90)
(90, 300, 20, 34, 'sona')
('sona', 34, 20, 300, 90)

 ### Concatenation and repetetion-

In [1]:
t1 =(2,4)
t2= (3,8)
print("t1 + t2:", t1 +t2)
print("t1 * t2:",t1*2)

t1 + t2: (2, 4, 3, 8)
t1 * t2: (2, 4, 2, 4)

In [32]:
t2 = ("sona",)
print(t2*2)

('sona', 'sona')

In [33]:
t3= (30, 10)
print(t3*4)

(30, 10, 30, 10, 30, 10, 30, 10)

In [1]:
t2 = (23,)
print(t2*2)

(23, 23)

In [38]:
t ="sona " # string repetetion
print(t*3)

sona sona sona

### Membership
Membership operators : in , not in

In [56]:
t = (1,2,3)
print(2 in t)
print(4 in t)
print(10 not in t) 
print(2 not in t)

True
False
True
False

In [3]:
name1 = ("Elon", "sam")
name2 = ("Elon", "sam","steve", "Sam", "Bill")
print(name1 in name2)
print(name2 in name1)
print("Elon" in name1)
print("sam" in name2)
print(name1[0] in name2) 
print(name1[0])

False
False
True
True
True
Elon

In [46]:
print(name1 in name2)

False

In [47]:
name1 = ("Elon", "sam")
name3 = (("Elon", "sam"),"steve")
print(name1 in name3)

True

In [50]:
print(("Elon","sam") in name3) 
print("Elon" in name3)

True
False

In [57]:
list1 = [ 12,33, 23,(20,21),22,12]
list2 = [ 22 ,33, 12,80 ]
print(22 in list1)
print(20 in list1)

True
False

In [58]:
list3 = [ 25, 12,33, 23,(20,21),22,12] 
print(list1 in list3)

False

In [59]:
list3 = [ 25,[ 12,33, 23,(20,21),22,12], 100] 
print(list1 in list3)

True

In [61]:
A = (list1+ list3) 
print(A)

[12, 33, 23, (20, 21), 22, 12, 25, [12, 33, 23, (20, 21), 22, 12], 100]

In [63]:
b = (list1,list2) 
print(b)

([12, 33, 23, (20, 21), 22, 12], [22, 33, 12, 80])

In [2]:
A = ([23,20], [ 10,20], (20,45))
A[1].append("sona")
print(A)

([23, 20], [10, 20, 'sona'], (20, 45))